body{
  background-color: white;
}

h1{
  color:#6AABD7;
  font-family:inherit; font-size: 300%;
}

h2{
  color:#10639A; font-weight:lighter; font-family: inherit;
}

p{
  color:#10639A;
  font-size: 100%; font-family: inherit;
}

img{
  width:45%;
  height:45%;
  display:block; margin:auto;
}

.center-class{
  text-align: center; font-family: serif;
}
